<ds-banner-portada label="Crédito Social"
    description="Eget purus amet proin enim libero convallis integer amet blandit libero, placerat sed sem auctor pulvinar aliquam libero, hulla vitae amet vehicula lacus, convallis at tincidunt pellentesque nulla fringilla tortor"
    thumbnail="https://www.w3schools.com/howto/img_mountains_wide.jpg" alt-thumbnail="thumbnail" variant="trabajadores"
    type="thumbnail">
    <div slot="description">
        <p>Te ofrecemos un prestamo con una de las tasas más convenientes del mercado, para cubrir una
            emergencia o cumplir un proyecto personal.</p>
        <p>¿De verdad necesitas el crédito? Piénsalo, cotiza y compara. Nosotros podemos ayudarte.</p>
    </div>
    <ds-breadcrumbs slot="breadcrumb">
        <ds-breadcrumb href="/">Nivel Superior</ds-breadcrumb>
        <ds-breadcrumb href="/" label="Volver al"> Noven anterior </ds-breadcrumb>
        <ds-breadcrumb>Nivel Actual</ds-breadcrumb>
    </ds-breadcrumbs>
    <div slot="buttons">
        <ds-button behaviour="fluido">
            <span slot="start"> 👀 </span>
            Ver video
        </ds-button>
    </div>
</ds-banner-portada>